@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "OpenSansNormal";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "NeuchaRegular";
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

html, 
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1, h2, h3 {
  font-family: "NeuchaRegular";
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  margin: 0;
}

h3 {
  font-size: 34px;
}

.h1-black {
  color: #2A2626;
}

p {
  font-family: "OpenSansNormal", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  margin: 0;
  }

.section {
  width: 100vw;
  padding: 100px 165px;
  position: relative;
}

.orange {
  color:#FE8A02;
}

.white {
  color: #fff;
}

.std-bkgrd::before {
  content: "";
  position: absolute;
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

header {
  background-color: #f5f4f0;
  height: 714px;
  position: relative;
  z-index: 1;
}

main {
  width: 100%;
}

.video-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  height: 714px;
  width: 1110px;
  padding-bottom: 0;
}

.video-section h1 {
  width: 100%;
  text-align: center; 
  margin-bottom: 30px;
}

#navigation {
  padding-top: 200px;
  background-color: #42413C;
  height: 691px;
}

img {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 461px;
}

.col-2 {
  column-count: 2;
  column-gap: 30px;
  column-width: 540px;
  margin-top: 185px;
  height: 186px;
  padding-top: 15px;
}

header article p:first-child {
  height: 150px
}

header article p:last-child {
  margin-top: 15px;
}

header a {
  position: absolute;
  top: 765px;
  left: 735px;
  font-family: "OpenSansNormal", sans-serif;
  background-color: #FE8A02;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
}

.video {
  position: relative;
  bottom: -17px;
  z-index: 1;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

td {
  display: inline-block;
  background-color: #f5f4f0;
  border: none;
  width: 302px;
  padding: 24px;
  margin: 0;
}

.row-1 td {
  height: 275px;
  margin-bottom: 20px;
}

.row-2 td {
  height: 300px;
}

td.h-card {
  background-color: #42413C;
  padding: 0;
  width: 350px;
  height: 323px;
}

.h2-card-text {
  font-size: 52px;
  margin: 0;
}

.num {
  font-family: "NeuchaRegular";
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 40px;
  margin-top: 0;
}

.nav-card-header {
  margin-bottom: 16px;
}

.middle {
  margin-left: 30px;
  margin-right: 30px;
}
